<!-- +++++ No Script Fallback notice +++++ -->
<noscript>
  <div>
    Turn on your JavaScript!
  </div>
</noscript>
<!-- accessibility skip to nav skip content -->
<ul class="sr-only" id="top">
  <li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to Navigation</a>
  </li>
  <li><a href="#page" title="Skip to content" accesskey="c">Skip to Content</a>
  </li>
</ul>
<!--  /.sr-only accessibility-->
<!-- =============== HEADER ==============================-->
<header class="header">
  <div class="header-inner">
    <!-- :: info :: .header-inner acts like container -->
    <!-- #### logo font  -->
    <div class="logo-brand logo-font">
      <a href="index.html">
        <span class="logo-brand-inner">
          <img src="assets/images/logo.png" alt="" /> am
          <span style="color:#ffb567">play</span>fier
        </span>
      </a>
    </div>

    <!-- /.logo-brand-->

    <div class="header-btn-bar">
      <!-- .menu-toggle -->
      <a href="#" class="menu-toggle data-slide" data-target="#navigation-panel">
        <!-- this above data-slide toggles the #navigation-panel .slide-panel -->
        <div class="menu-toggle-inner">
          <span class="veggieburger">
            <span class="lines"></span>
          </span>
          <!--/.veggieburger-->
          <span class="menu-toggle-text">MENU</span>
        </div>
      </a>
      <!-- /.menu-toggle-->
      <div class="header-btn-wrapper clearfix">
        <!-- .header-btn-row-->
        <div class="header-btn-row half-row">
          <!-- BEGIN 1st .header-btn .header-btn-xl in first row -->
          <a href="#" class="login-toggle header-btn header-btn-xl data-slide" data-target="#login-panel"> <i class="fa fa-sign-in header-icon"></i>
            <span class="header-btn-text">Login</span>
          </a>
          <!-- this above data-slide toggles the #login-panel .slide-panel example -->
          <!-- /END 1st .header-btn .header-btn-xl in first row -->
          <!-- BEGIN 2nd.header-btn .header-btn-xl in first row -->
          <a href="#" class="signin-toggle header-btn header-btn-xl data-slide" data-target="#signup-panel"> <i class="fa fa-key header-icon"></i>
            <span class="header-btn-text">Sign Up</span>
          </a>
          <!-- this above data-slide toggles the #signup-panel .slide-panel example -->
          <!-- /END 2nd .header-btn .header-btn-xl in first row -->
        </div>
        <!-- /.header-btn-row-->
        <div class="header-btn-row half-row">
          <!-- BEGIN 3rd .header-btn .header-btn-lg in second row -->
          <a href="#" class="anchor header-btn header-btn-lg">
            <i class="fa fa-pencil header-icon"></i>
            <span class="header-btn-text">Create</span>
          </a>
          <!-- this above data-slide toggles the #contact-panel .slide-panel example -->
          <!-- /END 3rd .header-btn .header-btn-lg in second row -->
          <a href="#top" id="go-to-home" class="header-btn header-btn-sm" data-hover="tooltip" popover-trigger="mouseenter" popover-placement="left" popover="Jump to Home"> <i class="fa fa-home header-icon"></i> </a>
          <!-- this link above links to your twitter page -->
          <!-- /END 5th .header-btn .header-btn-sm in second row -->
          <!-- BEGIN 6th .header-btn .header-btn-sm in second row-->
          <!-- this above data-slide toggles the #contact-panel .slide-panel example -->
          <!-- /END 3rd .header-btn .header-btn-lg in second row -->
          <a href="#features" id="go-to-features" class="header-btn header-btn-sm" data-hover="tooltip" popover-trigger="mouseenter" popover-placement="left" popover="Jump to Features"> <i class="fa fa-gears header-icon"></i> </a>
          <!-- this link above links to your twitter page -->
          <!-- /END 5th .header-btn .header-btn-sm in second row -->
          <!-- BEGIN 6th .header-btn .header-btn-sm in second row-->
          <a href="#demo-portals" id="go-to-demos" class="header-btn header-btn-sm" data-hover="tooltip" popover-trigger="mouseenter" popover-placement="left" popover="Jump to Demos"> <i class="fa fa-puzzle-piece header-icon"></i> </a>
          <!-- this link above links to your twitter page -->
          <!-- /END 5th .header-btn .header-btn-sm in second row -->
          <!-- BEGIN 7th .header-btn .header-btn-sm in second row -->
          <a href="#contactus" id="go-to-footer" class="header-btn header-btn-sm" data-hover="tooltip" popover-trigger="mouseenter" popover-placement="left" popover="Contact Us"> <i class="fa fa-envelope header-icon"></i> </a>
          <!-- this link above links to your google+ page -->
          <!-- /END 7th .header-btn .header-btn-sm in second row -->
        </div>
        <!-- /END .header-btn-row-->
      </div>
      <!-- /END .header-btn-wrapper-->
    </div>
    <!-- /END .header-btn-bar -->

  </div>
  <!-- /END .header-inner -->
</header>
<!-- =============== END HEADER ==============================-->

<!-- ================== BEGIN SLIDE OUT PANELS  ================= -->
<div class="slide-panel-parent">
  <!-- .slide-panel-parent goes around all the panels -->
  <!-- _____________ NAVIGATION PANEL _______ -->
  <div class="slide-panel" id="navigation-panel">
    <a href="#" class="close ti ti-close">
      <!--themify icon font-->
    </a>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-8">
          <!-- _________ BEGIN NAVIGATION ___________ -->
          <nav id="nav" role="navigation">
            <ul>
              <li class="active"><a href="index.html">Home</a>
              </li>
              <li class="has-children"> <a href="#">Demo Portals</a>
                <ul>
                  <li><a href="">Business Wrapper </a>
                  </li>
                  <li><a href="">Story Wrapper</a>
                  </li>
                </ul>
              </li>
              <li><a href="#">Tutorials</a>
              </li>
              <li><a href="#">Blog</a>
              </li>
              <li class="has-children"> <a href="#">Policies</a>
                <ul>
                  <li><a href="">Disclaimer </a>
                  </li>
                  <li><a href="">Privacy Policy</a>
                  </li>
                  <li><a href="">Terms of Service</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <!--/.col-md-6 col-lg-8 -->
        <div class="col-md-6 col-lg-4">
          <h4 class="h2">Latest News</h4>
          <ul>
            <li><a href="your-link-goes-here.html">We will amplify our power to benchmark...</a>
            </li>
            <li><a href="your-link-goes-here.html">We have revolutionized the conceptualization...</a>
            </li>
            <li><a href="your-link-goes-here.html">Everything is relative; relatively speaking.</a>
            </li>
            <li><a href="your-link-goes-here.html">My other body is an immortal robot body.</a>
            </li>
            <li><a href="your-link-goes-here.html">I don't know who they are but they're...</a>
            </li>
            <li><a href="your-link-goes-here.html">For those about to rock, we salute you </a> </li>
          </ul>
          <h4 class="h2">Latest Work</h4>
          <div class="img-widget fade-hover-img">
            <a href="#">
              <img src="assets/demo-images/img-widget/1.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/2.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/3.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/4.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/5.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/6.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/7.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/8.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/9.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/10.jpg" alt="" />
            </a>
          </div>
          <!--/.img-widget-->
        </div>
        <!--/.col-md-6 col-lg-4 -->
      </div>
      <!--/.row -->
    </div>
    <!--/.container inside #navigation-panel -->
  </div>
  <!--/.slide-panel #navigation-panel -->
  <!-- _________ SEARCH PANEL #search-panel___________ -->
  <div class="slide-panel search" id="search-panel">
    <a href="#" class="close ti ti-close">
      <!--themify icon font-->
    </a>
    <div class="container">
      <h3 class="slide-panel-title">Search</h3>
      <form role="form">
        <div class="form-group">
          <input type="search" placeholder="Enter search term and press enter" class="form-control">
        </div>
        <!--/.form-group -->
      </form>
    </div>
    <!--/.container -->
  </div>
  <!--/.slide-panel #search-panel -->

  <!-- _________ LOGIN PANEL #login-panel ___________ -->
  <div class="slide-panel" id="login-panel">
    <a href="#" class="close ti ti-close">
      <!--themify icon font-->
    </a>
    <div class="container">
      <h2 class="slide-panel-title">Login</h2>
      <div class="row">
        <div class="col-md-6">
          <h4 class="no-margin-top">Social Login</h4>
          <ul class="list-unstyled social-user">
            <li><a href="" ng-click="loginOauth('facebook')" title="Login with Facebook" class="facebook"><i class="fa fa-facebook"></i>
              <span>
                Login with Facebook
              </span>
              </a>
            </li>
            <li><a href="" ng-click="loginOauth('google')" title="Login with Google Plus" class="google"><i class="fa fa-google-plus"></i>
              <span>
                Login with Google
              </span>
              </a>
            </li>
            <li><a href="" ng-click="loginOauth('twitter')" title="Login with Twitter" class="twitter"><i class="fa fa-twitter"></i>
              <span>
                Login with Twitter
              </span>
              </a>
            </li>
            <li><a href="#" title="Login with Wordpress" class="wordpress"><i class="fa fa-wordpress"></i>
              <span>
                Login with Wordpress
              </span>
              </a>
            </li>
          </ul>
          <!-- /.social-user -->
        </div>
        <!-- /.col-*-6 -->
        <div class="col-md-6">
          <h4 class="no-margin-top">Sign In</h4>
          <form role="form" name="form" ng-submit="login(form)" novalidate>
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" placeholder="Enter email" ng-model="user.email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control  form-control-lg" placeholder="Password" ng-model="user.password" required>
            </div>
            <div class="form-group checkbox small">
              <label>
                <input type="checkbox"> Remember Me </label>
            </div>
            <p class="text-center">
              <button class="btn btn-slide-panel btn-lg btn-block" type="submit"><i class="ti ti-lock"></i> Sign in</button>
            </p>
          </form>
          <p class="text-center clear"><a href="#" data-target="#forgot-password-panel" class="link-underline data-slide">Forgot your password?</a>
            <br> Don't have an account yet? <a class="link-underline signin-toggle data-slide" href="#" data-target="#signup-panel">Sign up</a> </p>
        </div>
        <!-- /.col-*-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!--/.slide-panel #login-panel -->
  <!-- _________ SIGNUP PANEL #signup-panel ___________ -->
  <div class="slide-panel" id="signup-panel">
    <a href="#" class="close ti ti-close">
      <!--themify icon font-->
    </a>
    <div class="container">
      <h2 class="slide-panel-title">Sign Up</h2>
      <div class="row">
        <div class="col-md-6">
          <h4 class="no-margin-top">Sign Up with...</h4>
          <ul class="list-unstyled social-user">
            <li><a href="" ng-click="loginOauth('facebook')" title="Signup with Facebook" class="facebook"><i class="fa fa-facebook"></i>
              <span>
                Signup with Facebook
              </span>
              </a>
            </li>
            <li><a href="" ng-click="loginOauth('google')" title="Signup with Google Plus" class="google"><i class="fa fa-google-plus"></i>
              <span>
                Signup with Google
              </span>
              </a>
            </li>
            <li><a href="" ng-click="loginOauth('twitter')" title="Signup with Twitter" class="twitter"><i class="fa fa-twitter"></i>
              <span>
                Signup with Twitter
              </span>
              </a>
            </li>
            <li><a href="#" title="Signup with Wordpress" class="wordpress"><i class="fa fa-wordpress"></i>
              <span>
                Signup with Wordpress
              </span>
              </a>
            </li>
          </ul>
          <!-- /.social-user -->
        </div>
        <!-- /.col-*-6 -->
        <div class="col-md-6">
          <h4 class="no-margin-top">Create Amplayfier account</h4>
          <form role="form" name="form" ng-submit="register(form)">
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" placeholder="Enter email" ng-model="user.email" required mongoose-error>
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" placeholder="Password" ng-model="user.password" ng-minlength="3" required mongoose-error>
            </div>
            <p class="text-center">
              <button class="btn btn-slide-panel btn-lg btn-block" type="submit"><i class="ti ti-lock"></i> Register</button>
            </p>
          </form>
          <p class="text-center clear">Already have an account? <a class="link-underline login-toggle data-slide" href="#" data-target="#login-panel">Login</a>
          </p>
        </div>
        <!-- /.col-*-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!--/.slide-panel #signup-panel -->
  <!-- _________ FORGOT PASSWORD #forgot-password-panel ___________ -->
  <div class="slide-panel" id="forgot-password-panel">
    <a href="#" class="close ti ti-close">
      <!--themify icon font-->
    </a>
    <div class="container">
      <h3 class="slide-panel-title">Forgot Password</h3>
      <form role="form" action="your-script.php">
        <div class="input-group input-group-lg input-group-slide-panel">
          <input class="form-control" placeholder="Your@EmailAddress.com" type="email">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-slide-panel btn-lg">Reset Password</button>
          </span>
          <!--/.input-group-btn-->
        </div>
      </form>
      <hr class="vertical-spacer height-20px">
      <p class="text-center"><a href="#" class="data-slide" data-target="#login-panel" class="link-underline login-toggle">Remembered your Password?</a>
      </p>
    </div>
    <!-- /.container -->
  </div>
  <!--/.slide-panel #forgot-password-panel -->
</div>
<!-- END .slide-down-parent -->
<!-- ================== END SLIDE OUT PANELS  ================= -->
<!-- =============== BEGIN #page ==============================-->

<div id="page">
  <!-- =========== BEGIN CONTENT FOR THE PAGE =========================================================================== -->
  <div class="page-content" role="main">
    <div class="container">

      <!-- .container for entire page -->

      <!-- _________ SLICK SLIDER SINGLE CAROUSEL AND COLUMN EQUAL HEIGHT ___________ -->
      <div class="row sixteen-gutter">

        <div class="col-sm-8 col-md-8">
          <h1>CREATE GAME BASED COMMUNICATION</h1>
          <div class="featured-carousel single-item-carousel slick-dots-left fade-hover-img loading-slick">
            <div class="slick-slider-item">
              <img style="width: 100%;height: auto;margin: 0 auto" src="assets/images/leaderimg.png" alt="">
            </div>
            <!--/.slick-slider-item-->

          </div>
        </div>
        <!--/.col-x-x-->

        <hr class="visible-xs vertical-spacer vertical-spacer-xs">
        <!-- add some vertical spacing when stacked -->

        <div class="col-sm-4 col-md-4">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3 class="no-margin-top no-margin-bottom">
                  <strong>Create an account</strong>
                </h3>
                <p>It's free and always will be.</p>
                <form role="form" name="form" ng-submit="register(form)" validate>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-lg" placeholder="Enter email" ng-model="user.email" required mongoose-error>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" placeholder="Password" ng-model="user.password" ng-minlength="3" required mongoose-error>
                  </div>
                  <p class="text-center">
                    <button class="btn btn-info btn-lg btn-block" type="submit"><i class="ti ti-lock"></i> Register</button>
                  </p>
                </form>

                <p class="text-center clear">Already have an account? <a class="link-underline login-toggle data-slide" href="#" data-target="#login-panel">Login</a>
                </p>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <h4 style="margin-top:10px"> or sign up with...</h4>
                  </div>
                  <div class="col-md-6">
                    <ul class="list-unstyled social-user" id="main-page-signup">
                      <li><a href="" ng-click="loginOauth('facebook')" title="Signup with Facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li><a href="" ng-click="loginOauth('google')" title="Signup with Google Plus" class="google"><i class="fa fa-google-plus"></i></a>
                      </li>
                      <li><a href="" ng-click="loginOauth('twitter')" title="Signup with Twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>



                <!-- /.social-user -->
              </div>
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!--/.col-x-x-->
      </div>
      <!--/.row sixteen-gutter-->
      <br>
      <hr/>
      <div class="row" id="btn-learnmore">
        <div class="text-center">
          Learn
          <i class="fa fa-chevron-circle-down"></i> More
        </div>
      </div>

      <hr class="vertical-spacer vertical-spacer-lg">
      <hr class="vertical-spacer vertical-spacer-lg">
      <div class="headline-inline">
        <h3 class="headline"><i class="fa fa-check-square header-icon"></i> Understand Amplayfier </h3>
      </div>

      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="column-inner column-featured">
            <h3 class="h2 column-featured-headline">Create game-based communication</h3>
            <ul>
              <li>Learning Platforms</li>
              <li>Marketing Microsites</li>
              <li>Gamified Research</li>
            </ul>
            <p> and portals for other serious games and gamification... </p>
            <!--                            <a class="btn btn-featured btn-primary" href="#">CREATE A PORTAL</a>-->
            <span class="column-bg-fake">
              <!-- this is a fake column that follows the height of the carousel image -->
            </span>
          </div>
          <!--/.column-inner .column-featured-->
        </div>
        <div class="col-sm-8 col-md-8">
          <div class="videoWrapper">
            <iframe width="800" height="450" src="https://www.youtube.com/embed/Ll6DlQQRPtY?autohide=1&showinfo=0&controls=2" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <hr class="vertical-spacer vertical-spacer-lg">
      <div class="headline-inline">
        <h3 class="headline"><i class="fa fa-gears header-icon"></i> Features </h3>
      </div>
      <!-- /.headline-inline -->
      <div class="multi-item-slick slick-dots-left fade-hover-img loading-slick">
        <slick style=" margin-bottom: 0px;" dots="true" infinite="false" lazyLoad='ondemand' adaptiveHeight="true" speed="300" slides-to-show=4 slides-to-scroll=4 responsive="multiItemSlickResponsive">
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/gamification.jpg" alt="">
                <figcaption>
                  <h3>GAMIFICATION</h3>
                  <p>Use game mechanics to challenge and motivate your users. But remember, a little gamification goes a long way...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/seriousgames.jpg" alt="">
                <figcaption>
                  <h3>SERIOUS GAMES</h3>
                  <p>Go beyond just gamification and use actual games. You will be stunned at the serious difference serious games make... </p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/wrapper.jpg" alt="">
                <figcaption>
                  <h3>GAME WRAPPERS</h3>
                  <p>Communication is all about flow. Game wrappers help you organize your content and guide your users thought process...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/diy.jpg" alt="">
                <figcaption>
                  <h3>DO IT YOURSELF</h3>
                  <p>No more requesting for demos and limited trials. With Amplayfier, you can build your gamified system yourself. Like, right now... </p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/familiar.jpg" alt="">
                <figcaption>
                  <h3>FAMILIAR INTERFACE</h3>
                  <p>If you know how to use Powerpoint, you already know how to create content on the Amplayfier platform...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/onto.jpg" alt="">
                <figcaption>
                  <h3>ONTOLOGICAL SLIDES</h3>
                  <p>Organize your content in layered slides and explain concepts in single logical blocks like Wikipedia entries...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/gameslides.jpg" alt="">
                <figcaption>
                  <h3>GAME SLIDES</h3>
                  <p>Create new games just by editing a game slide. Choose from an ever increasing library of simple and complex games... </p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/variants.jpg" alt="">
                <figcaption>
                  <h3>SLIDE VARIANTS</h3>
                  <p>Customize and show different variants of your content to different users based on their profiles...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/deploy.jpg" alt="">
                <figcaption>
                  <h3>PORTAL DEPLOYMENT</h3>
                  <p>Publish your content into customizable portals which you can deploy on our servers directly. At no extra cost...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/enterprise.jpg" alt="">
                <figcaption>
                  <h3>USER ENGAGEMENT</h3>
                  <p>Use our advanced user management features like profiling, feedback and rewards to better engage your users...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/realtime.jpg" alt="">
                <figcaption>
                  <h3>REAL TIME ANALYTICS</h3>
                  <p>Gather feedback, collect data and observe behavior in real-time as your users visit and use your portal...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/analytics.jpg" alt="">
                <figcaption>
                  <h3>DYNAMIC REPORTING</h3>
                  <p>Use Amplayfier's dynamic reporting to create custom tables and charts or use our presentation-ready infographic reports...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/plugins.jpg" alt="">
                <figcaption>
                  <h3>DOMAIN EXTENSIONS</h3>
                  <p>Want domain-specific functionalities? Use our plugin system to put in exactly what you need on your portal...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/hierarchy.jpg" alt="">
                <figcaption>
                  <h3>ORGANIZATION MAP</h3>
                  <p>Control access, notifications, escalations and a host of other factors based on the hierarchy of your organization... </p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/isolation.jpg" alt="">
                <figcaption>
                  <h3>DATA ISOLATION</h3>
                  <p>Your users and their usage data is precious and confidential. Every portal gets its own isolated instance for absolute security...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <a href="portfolio-masonry.html">
              <figure>
                <img data-lazy="assets/images/features/customization.jpg" alt="">
                <figcaption>
                  <h3>SERVICES SUPPORT</h3>
                  <p>Technology is only the first step. Feel free to request us for content, design or customization support...</p>
                </figcaption>
              </figure>
            </a>
          </div>
          <!-- /.slick-slider-item -->
        </slick>
      </div>
      <!-- /.multi-item-slick -->

      <hr class="vertical-spacer vertical-spacer-lg">
      <div class="headline-inline">
        <h3 class="headline"> <i class="fa fa-puzzle-piece header-icon"></i> Demo Portals </h3>
      </div>


      <div class="call-to-action hidden-xs" style="padding-bottom:0">
        <div class="row" style="position:relative;z-index:1">
          <div class="col-sm-3">
            <img id="formal-presenter" src="assets/images/formalpresenter.png" style='float:right;margin-right:1000px;margin-top:50px;z-index:999;position:relative'>
          </div>
          <div class="col-sm-6">
            <div class="box">

              <div class="info">
                <h4 class="text-center">PICK ONE. ANY ONE...</h4>

                <p>Check out examples of what you can build with Amplayfier....</p>

                <br>
                <a href="BusinessWrapper/bluesquare-wrapper.html">
                  <div class="box-icon-small">
                    <span class="fa fa-4x fa-briefcase"></span>
                  </div>
                </a>
                <a href="StoryWrapper/amplayfierdemo-blueprints.html">
                  <div class="box-icon-small">
                    <span class="fa fa-4x fa-gamepad"></span>
                  </div>
                </a>
                <br>
                <br>
              </div>
              <div id="goPop"></div>
            </div>
          </div>
          <div class="col-sm-3">
            <img src="assets/images/gamepresenter.png" id="game-presenter" style='margin-left:1000px;margin-top:50px;'>
          </div>
        </div>
      </div>

      <div class="call-to-action visible-xs">
        <div class="btn btn-warning">Learning Portal</div>
        <div class="btn btn-warning">Marketing Portal</div>
      </div>

      <!-- VERTICAL SPACING -->
      <hr class="vertical-spacer vertical-spacer-lg">
      <div class="headline-inline">
        <h3 class="headline"> Marquee Clients </h3>
      </div>
      <!-- /.headline-inline -->

      <!-- ______________ MULI ITEM SLICK MINI (notice the -mini) :: USES slick slider______________ -->
      <div class="multi-item-slick-mini slick-dots-left loading-slick">
        <slick infinite=true arrows="true" dots=false adaptiveHeight="true" speed=300 slides-to-show=6 slides-to-scroll=1 autoplay=true autoplaySpeed=2000 responsive="slickMiniResponsive" style="margin-bottom: 0px;">
          <div class="slick-slider-item">
            <img src="assets/images/clients/5.png" alt="" />
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <img src="assets/images/clients/1.png" alt="" />
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <img src="assets/images/clients/10.png" alt="" />
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <img src="assets/images/clients/3.png" alt="" />
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <img src="assets/images/clients/6.png" alt="" />
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <img src="assets/images/clients/8.png" alt="" />
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <img src="assets/images/clients/7.png" alt="" />
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <img src="assets/images/clients/9.png" alt="" />
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <img src="assets/images/clients/11.png" alt="" />
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <img src="assets/images/clients/2.png" alt="" />
          </div>
          <!-- /.slick-slider-item -->
          <div class="slick-slider-item">
            <img src="assets/images/clients/12.png" alt="" />
          </div>
        </slick>
      </div>

    </div>
    <!-- /.multi-item-slick-mini -->

  </div>
  <!-- / .container -->
</div>
<!-- /.page-content role=main -->
<!--=========== END CONTENT FOR THE PAGE ============================================================ -->

<!-- ================== END #page ================= -->
<!-- ================== FOOTER ================= -->
<footer class="footer">
  <div class="footer-column-wrapper">
    <div class="container">
      <div class="row footer-row">
        <div class="col-sm-7 footer-col">
          <h4 class="footer-title">Connect With Us</h4>
          <div id="success">
            <h2 class="clearfix">
              <span class="ti ti-face-smile pull-left"></span>
              Your message was sent successfully! We will be in touch soon.
            </h2>
          </div>
          <div id="error">
            <h2 class="clearfix">
              <span class="ti ti-alert pull-left"></span>
              Something went wrong, try refreshing and submitting the form again.
            </h2>
          </div>
          <form id="contact" name="contact" method="post" novalidate>
            <fieldset>
              <div class="form-group">
                <input type="email" class="form-control form-control-lg" name="email" id="email" size="30" value="" placeholder="Please give us an email to contact you on" required>
              </div>

              <!-- /.form-group -->
              <div class="form-group">
                <textarea name="message" class="form-control form-control-lg" id="message" placeholder="Please put in your comments or queries..." required></textarea>
              </div>
              <!-- /.form-group -->
              <button type="submit" class="btn btn-inverse btn-lg btn-block">Send</button>
            </fieldset>
          </form>
        </div>
        <!--/.col-sm-7-->
        <div class="col-sm-5  footer-col">
          <h4 class="footer-title">Contact Us</h4>
          <div id="map">
            <p> Ptotem Technologies Ltd
              <br> C146-147, Antop Hill Complex,
              <br> Barkat Ali Road, Wadala East
              <br> Mumbai, India - 400 037
              <br>
              <strong>phone:</strong> <a href="tel:919833939793">91.98339.39793</a>
              <br>
              <span class="overflow">
                <strong>email:</strong> <a class="link-underline" href="mailto:contact@amplayfier.com">contact@amplayfier.com</a>
              </span>
            </p>

          </div>
        </div>
        <!--/.col-sm-5-->
      </div>
      <!--/row-->

      <div class="row footer-row equal-height-col">
        <div class="col-sm-5 col-md-3 footer-col">
          <h4 class="footer-title">Follow Us</h4>
          <ul class="social-icon-list">
            <li><a href="#"><i class="fa fa-fw fa-2x fa-google-plus"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-fw fa-2x fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-fw fa-2x fa-linkedin"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-fw fa-2x fa-github"></i></a>
            </li>
          </ul>
        </div>
        <!-- /.col-sm-5 .col-md-3 footer-col -->
        <div class="col-sm-7 col-md-9 footer-col">
          <h4 class="footer-title">About Us</h4>
          <p>Peeping over our cubicle walls, for a long time, we watched. Watched the world losing its colors. Heard the music fade away into silence. And we became comfortable in our muted sepia existence.</p>
          <p>Till yesterday, we found our paintbrushes. And the theme music started...</p>
        </div>
        <!-- /.col-sm-7 col-md-9 footer-col-->
      </div>
      <!--/.row .footer-row-->
      <div class="row footer-row equal-height-col">
        <!-- ::info:: this is equal heights with jQuery -->
        <div class="col-sm-4 footer-col">
          <h4 class="footer-title">Stay Updated</h4>
          <p>Sign up for our newsletter. We won't share your email address.</p>
          <form action="yourscript.php" method="post">
            <div class="input-group">
              <input class="form-control form-control-footer" placeholder="Your@EmailAddress.com" type="email">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-footer">Sign Up</button>
              </span>
              <!--/.input-group-btn-->
            </div>
          </form>
        </div>
        <!-- /.col-sm-4 footer-col-->
        <div class="col-sm-8 footer-col">
          <h4 class="footer-title">Latest Stuff</h4>
          <div class="img-widget fade-hover-img">
            <a href="#">
              <img src="assets/demo-images/img-widget/1.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/2.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/3.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/4.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/5.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/6.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/7.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/8.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/9.jpg" alt="" />
            </a>
            <a href="#">
              <img src="assets/demo-images/img-widget/10.jpg" alt="" />
            </a>
          </div>
          <!--/.img-widget-->
        </div>
        <!-- /.col-sm-8 footer-col-->
      </div>
      <!--/.row .footer-row -->
    </div>
    <!--/.container -->
  </div>
  <!--/.footer-column-wrapper -->
  <div class="footer-copyright">
    <div class="container">
      <p class="no-margin">© Copyright 2015 <a href="http://www.ptotem.com">Ptotem Technologies</a>. All rights reserved. </p>
      <a class="link-underline" href="#">Disclaimer</a> | <a class="link-underline" href="#">Privacy Policy</a> |<a class="link-underline" href="#"> Terms of Service</a> | <a class="link-underline" href="site-map.html">Site Map</a>

    </div>
  </div>
  <!--/.footer-copyright-->
</footer>
<!-- ================== /.END footer ================= -->
<!-- _________ GO TO TOP ___________ -->
<a id="go-to-top" href="#top" title="up"> <i class="ti ti-arrow-up" style="bottom: 3px;right: 3px;left: auto;"></i> </a>